body {

  background-color: #F4F4F4;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("@{assetsUrl}images/logo.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .04;
  }

  &.single {

    .layout-container {
      margin-top: 220px;

      .page-single-narrow {
        margin-bottom: 0;

        .nc_socialPanel {

          .twitter {
            background: #ffffff !important;

            .iconFiller {
              color: #429cd6 !important;
            }
          }

          .swp_fb {
            background: #ffffff !important;

            .iconFiller {
              color: #3a589e !important;
            }
          }

          .linkedIn {
            background: #ffffff !important;

            .iconFiller {
              color: #0d77b7 !important;
            }
          }

          .googlePlus {
            background: #ffffff !important;

            .iconFiller {
              color: #df4b37 !important;
            }
          }

          .nc_pinterest {
            background: #ffffff !important;

            .iconFiller {
              color: #cd2029 !important;
            }
          }

          .swp_stumbleupon {
            background: #ffffff !important;

            .iconFiller {
              color: #ef5025 !important;
            }
          }
        }
      }
    }
  }
}